.page {
    display: flex;
    flex-direction: column;
    height: 90vh; /* Set height of page to viewport height */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
  }
  
  .account-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /*margin-top: 20px;*/
    margin-left: 20px;
    margin-right: 20px;
    height: 75%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

button {
    border: 1x solid #e0e0e0;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-content: center;
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
    
  }
  